.App {
  text-align: center;
}

.slider {
  transition: transform 0.3s ease-in-out;
}

/* Add this to your CSS file */
.table {
  width: 100%;
  table-layout: fixed;
}

.table th, .table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 30px;  /* You can adjust this value */
}

/* Add this to your existing CSS file */
.table input[type="number"] {
  width: 100%;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}
.blink-border {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    border-color: red;
  }
}
